@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700,800,900');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #16202C;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;

}

.page__title {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    margin-top: 30px;
}

/* CF1 */

.CF1,
.CF2 {
    text-align: left;
    font-family: 'Alegreya Sans', sans-serif;
}

.CF1__title {
    font-size: 2.7em;
    padding: 20px 0;
    text-align: center;
}

.CF1__subhead {
    font-size: 1.5em;
    text-align: center;
}

.CF1__image {
    width: 300px;
    display: block;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.CF1__desc {
    margin-left: 10px;
    font-size: 1.2em;
}

.CF1__subtitle {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 2em;
}

.CF1__list {
    padding-left: 25px;
    list-style: none;
}

.CF1__list li:before{
    content: '✓';
    padding-right: 3px;
}

.CF1__listitem {
    text-transform: uppercase;
}

/* CF2 */

.CF2 {
    margin: 60px 0;
}

.CF2__title {
    font-size: 1em;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
}

.CF2__pitch {
    font-size: 2em;
    text-align: center;
    margin-bottom: 80px;
    max-width: 95%;
}

.CF2__list-title {
    margin-left: 10px;
    font-size: 2em;
}

.CF2__list {
    list-style: none;
    padding-left: 20px;
}

.CF2__list li:before {
    content: '✓';
    padding-right: 3px;
}

.CF2__listitem {
    text-transform: uppercase;
}

.CF2__summarize {
    margin-left: 10px;
    font-size: 1.2em;
}

.CF2__letter-greeting {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: 400;
}

.CF2__letter {
    text-indent: 30px;
    margin-left: 10px;
    margin-top: 0;
    font-size: 1.2em;
}

.CF2__image {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.CF2__pitch__2 {
    margin-left: 10px;
    font-size: 1.2em;
}

.CF2__testimonial-title {
    margin-top: 80px;
    margin-left: 10px;
}

.CF2__testimonial {
    margin-left: 10px;
}

.CF__buy {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    background-color: #ef3737;
    color: #fff;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 60px;
    display: block;
}

.gumroad {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    background-color: #ef3737;
    color: #fff;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2em;
}

.gumroad__link {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.content__expound {
    font-family: 'Lato', sans-serif;
    line-height: 1.5em;
    max-width: 290px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

footer {
    background-image: url('../images/powerbuilding-footer.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 250px;
}

.social {
    padding-top: 120px;
}

.social__link__wrapper {
    margin: 0 auto;
    height: 100%; 
    text-align: center;
}

.social__link {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 70px;
    padding: 20px;
    margin-top: 40px;
    margin-right: 6px;
}

i.fab.fa-facebook-f {
    padding-left: 5px;
    padding-right: 5px;
}

.copyright {
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-bottom: 20px;
}

.copyright a {
    text-decoration: none;
    color: #11a7dd;
}