@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Alegreya:400,500,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700,800,900');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #16202C;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

header {
    height: 50px;
    text-align: center;
}

.container {
    text-align: center;
}

.brand {
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    display: inline-block;
    position: relative;
    width: 100%;
    font-size: 1.1em;
}

.showcase {
    font-family: 'Permanent Marker', cursive;
    height: 700px;
    background-image: url('../images/mobile-showcase.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.showcase__content {
    padding-top: 40vh;
}

.showcase__headline-1 {
    font-size: 1.55em;
    font-weight: lighter;
    margin-bottom: -10px;
}

.showcase__headline-2 {
    font-size: 1.55em;
    width: 110px;
    font-weight: lighter;
    padding-bottom: .1em;
    border-bottom: 1px solid #fff;
    margin: 0 auto;
}

.showcase__byline {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.1em;
    margin-top: 8px;
}

.button__container {
    padding-top: 10px;
}

.showcase__button {
    width: 42%;
    height: 45px;
    border-radius: 5px;
    border: 0;
    background-color: #911d1d;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    font-weight: 700;
}

.content__wrapper {
    padding-bottom: 80px;
}

.content__title {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2.2em;
    margin: .9em 0 0 .6em;
}

.content__spacer {
    width: 85%;
    height: 1.4px;
    background-color: #FFF;
    margin: 5px 0 0 20px;
}

.content__info {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 100px;
    width: 80%;
}

.before__after {
    width: 82%;
    display: block;
    margin: 0 auto;
    margin-bottom: 80px;
}

.card {
    border: 1px solid #FFF;
    width: 82%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.card__headline {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2.1em;
    border-bottom: 1px solid white;
    padding: 35px 10px 35px 10px;
    text-align: center;
}

.card__byline {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    padding-bottom: 40px;
    padding-left: 13px;
    border-bottom: 1px solid #fff;
    border-width: 100%;
}

.card__list {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    padding-bottom: 27px;
    border-bottom: 1px solid #fff;
    border-width: 100%;
}

.card__button {
    display: block;
    text-decoration: none;
    text-align: center;
    padding-top: 12px;
    width: 90%;
    height: 45px;
    border-radius: 25px;
    background-color: #ef3737;
    color: #fff;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
    border: none;
    margin: 0 25px 20px 15px;
}

.card__button-link {
    text-decoration: none;
    color: #fff;
}

.content {
    padding-bottom: 110px;
}

.content__icon {
    margin: 80px 30% 50px 30%;
    width: 40%;
}

.content__headline {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2.2em;
    text-align: center;
}

.content__expound {
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

#barbell {
    width: 80px;
    margin-left: 40%;
}

footer {
    background-image: url('../images/mobile-footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 725px;
}

.footer__title {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2.2em;
    margin: 20px 0 0 15px;
    padding-top: 20px;
}

.footer__spacer {
    width: 85%;
    height: 1.4px;
    background-color: #FFF;
    margin: 5px 0 0 15px;
}

.footer__info {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    text-align: left;
    margin-left: 20px;
    margin-right: 40px;
}

.footer__headline {
    font-family: 'Lato', sans-serif;
    text-align: left;
    margin-top: 12px;
    margin-left: 13px;
    width: 330px;
    margin-bottom: 40px;
    font-size: 1.3em;
    font-weight: 400;
}

.social {
    margin-top: 285px;
    padding: 10px 0 30px 0;
    border: 1px solid #fff;
    border-right: 0;
    border-left: 0;
}

.social__headline {
    font-family: 'Permanent Marker', cursive;
    font-size: .9em;
    text-align: center;
}

.social__link__wrapper {
    margin: 0 auto;
    height: 100%;
    padding: 30px;
    text-align: center;
}

.social__link {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 70px;
    padding: 12px;
    margin-top: 40px;
    margin-right: 1px;
    margin-left: 1px;
}

i.fab.fa-facebook-f {
    padding-left: 5px;
    padding-right: 5px;
}

i.fab.fa-instagram {
    padding: 0 1px;
}


.copyright {
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-bottom: 20px;
}

.copyright a {
    text-decoration: none;
    color: #11a7dd;
}

@media only screen and (min-width: 700px) {

    
    header {
        height: 0px;
    }

    .brand {
        font-size: 1.8em;
        margin-top: 20px;
    }

    .showcase {
        font-family: 'Permanent Marker', cursive;
        height: 700px;
        background-image: url('../images/desktop-showcase.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        text-align: center;
    }

    .showcase__headline {
        text-align: center;
        position: relative;
        top: 55%;
        font-size: 2em;
    }

    .headline__br {
        border-bottom: 1px solid white;
        padding-left: 20px;
        padding-right: 20px;
    }

    .showcase__byline {
        font-size: 1.2em;
        font-weight: lighter;
        position: relative;
        top: 58.5%;
    }

    .button__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .showcase__button {
        width: 180px;
        height: 45px;
        color: #fff;
        cursor: pointer;
        outline: 0;
        margin: 0 auto;
    }

    .showcase__button:hover {
        background-color: #cc4747;
    }

    .main__wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }

    .content__spacer {
        width: 95%;
    }

    .before__after {
        width: 60%;
    }

    .card__wrapper {
        display: flex;
        justify-content: space-around;
    }

    .card {
        max-width: 27%;
    }

    .card__headline {
        padding: 10;
        font-size: 1.5em;
    }

    .card__byline {
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 1em;
        padding-bottom: 50px;
        height: 200px;
    }

    .card__list {
        font-size: 1em;
        padding-bottom: 27px;
        border-bottom: 1px solid #fff;
        border-width: 100%;
    }

    .card__button {
        width: 80%;
        height: 40px;
        margin: 0 0 20px 25px;
        padding-top: 8px;
    }
        

    .content__wrapper {
        padding: 80px 0;
    }

    .content__row {
        display: flex;
    }

    .content__group {
        text-align: center;
        max-width: 630px;
    }
    
    .content__icon {
        align-content: center;
        width: 130px;
        height: 130px;
        padding: 10px;
        margin: 0;
    }

    #barbell {
        margin-left: 10px;
    
    }
    
    .content__headline {
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 2em;
        text-align: center;
        padding: 20px;
    }
    
    .content__expound {
        font-size: 1.2em;
        padding: 0 20px 20px 20px;
    }

    footer {
        background-image: url('../images/desktop-footer.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 625px;
    }

    .footer__wrapper {
        max-width: 800px;
        text-align: center;
        margin: 0 auto;
    }

    .footer__title {
        text-align: left;
        padding-top: 160px;
    }

    .footer__headline {
        text-align: left;
        margin-left: 20px;
    }

    .newsletter {
        padding: 10px;
        padding-left: 20px;
        text-align: left;
    }

    .newsletter__label {
        font-family: 'Permanent Marker', cursive;
        text-align: left;
        display: inline-block;
        font-size: 1.7em;
    }

    .newsletter__input {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 40%;
        height: 40px;
        border-radius: 4px;
        border: 0;
        outline: 0;
        display: block;
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        text-indent: 5px;
    }

    .footer__input {
        display: inline-block;
    }

    .social {
        border: 0;
        margin-top: 20px;
    }

    .social__headline {
        display: none;
    }

    .social__link__wrapper {
        position: relative;
    }

    .social__link {
        margin-right: 5px;
        padding: 20px;
    }
    
        
}


